html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.fullwindow {
  height: 100%;
}

.root {
  display:flex;
}

.left-container{
  width: 50%;
}

.right-container{
  width: 50%;
}

.leaflet-container {
  height: 100%;
}

.leaflet-div-icon {
  background: transparent;
  border: none;
}  
